In [47]:
import json
import pandas as pd
from sqlalchemy import create_engine
import sys

In [48]:
sys.path.append('../src/')
from config import load_config

In [49]:
config = load_config('../src/config.json')
db_url = f"postgresql+psycopg2://{config['with_db']['user']}:{config['with_db']['password']}@{config['with_db']['host']}:{config['with_db']['port']}/{config['with_db']['dbname']}"
engine = create_engine(db_url)

conn = engine.connect()

In [50]:
df = pd.read_sql_table('candidates_hired', conn)
df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score,hired,category_of_technology
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,False,Software Development
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,False,Software Development
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,True,Project Management and Analytics
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,False,Integration and Automation
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,True,Sales and Marketing

In [51]:
df['Technology'].unique()

array(['Data Engineer', 'Client Success', 'QA Manual',
       'Social Media Community Management', 'Adobe Experience Manager',
       'Sales', 'Mulesoft', 'DevOps', 'Development - CMS Backend',
       'Salesforce', 'System Administration', 'Security',
       'Game Development', 'Development - CMS Frontend',
       'Security Compliance', 'Development - Backend', 'Design',
       'Business Analytics / Project Management',
       'Development - Frontend', 'Development - FullStack',
       'Business Intelligence', 'Database Administration',
       'QA Automation', 'Technical Writing'], dtype=object)

In [52]:
technology_categories = {
    'Data Engineer': 'Software Development',
    'Development - CMS Backend': 'Software Development',
    'Development - CMS Frontend': 'Software Development',
    'Development - Backend': 'Software Development',
    'Development - Frontend': 'Software Development',
    'Development - FullStack': 'Software Development',
    'Game Development': 'Software Development',
    'Client Success': 'Project Management and Analytics',
    'Business Analytics / Project Management': 'Project Management and Analytics',
    'Business Intelligence': 'Project Management and Analytics',
    'DevOps': 'Infrastructure and Operations',
    'System Administration': 'Infrastructure and Operations',
    'Database Administration': 'Infrastructure and Operations',
    'Security': 'Security',
    'Security Compliance': 'Security',
    'Sales': 'Sales and Marketing',
    'Social Media Community Management': 'Sales and Marketing',
    'Design': 'Sales and Marketing',
    'Adobe Experience Manager': 'Sales and Marketing',
    'Mulesoft': 'Integration and Automation',
    'Salesforce': 'Integration and Automation',
    'QA Manual': 'Integration and Automation',
    'QA Automation': 'Integration and Automation',
    'Technical Writing': 'Integration and Automation'
}

df['category_of_technology'] = df['Technology'].map(technology_categories)

df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score,hired,category_of_technology
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,False,Software Development
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,False,Software Development
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,True,Project Management and Analytics
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,False,Integration and Automation
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,True,Sales and Marketing

In [53]:
df.to_sql('candidates_hired', conn, if_exists='replace', index=False)

1000